.movieCard {
    /* max-width: 800px; */
  margin: 10px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid lightgrey ;
}

.movieTitle {
    font-size: large;
    font-weight: bold;
    padding: 10px 0px;
}

.selectBox {
    padding:2px 0;
    margin-bottom: 5px;
    
}

.movieCard.selected {
    background-color: lightgray; 
}